.photo {

        overflow: hidden;
        width: 250px;
        height: 250px;

}

.mainphoto{
  align-content: center;
  border-radius: 60%;
  display: block;
  height:250px;
  margin: auto;
  position:top left;

}

body {
  background-color: grey;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: none;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
p {
  font-style: italic;
}
#talk {
  font-weight: bolder;
}

#skills {
    padding-left:150px;
    padding-right: 150px;
}
