@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(http://fonts.gstatic.com/l/font?kit=RoNoOKoxvxVq4Mi9I4xIReCW9eLPAnScftSvRB4WBxg&skey=a88ea9d907460694) format('woff2');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(http://fonts.gstatic.com/l/font?kit=Z1ETVwepOmEGkbaFPefd_-CW9eLPAnScftSvRB4WBxg&skey=21884fc543bb1165) format('woff2');
}
body {
    background: url("sfatnightbackground.jpg") no-repeat center center;
    /*background:linear-gradient(to bottom right, RGBa(25,25,25,0.6), RGBa(0,0,0,1));*/
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif,  Open Sans;
    font-size: 14px;
    line-height: 1.42857;
    height: 350px;
    padding: 0;
    margin: 0;
}

div.row{
  margin-left: -100px;
}


h1, p{
  font-weight: 900;
}


* {
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

div.left {
  width: 50%;
  height: 100%;
  /*border: solid 1px red;*/
  float: left;
  /*background: url("#") no-repeat center center;*/
  background-size: cover;
  overflow:hidden;

}

.container{
  overflow:hidden;
  margin:auto;
  float:left;
  margin-left: 0;
  padding-left: 0;
  padding-top: 75px;
  height:800px;
  width:750px;
  padding-right:0;
  position: inherit;
}

div.right {
  width: 50%;
  height: 100%;
  /*border: solid 1px blue;*/
  float: right;
  padding-top: 250px;
}

.g-recaptcha{
  margin:0;
}

.links{
  background-color: white;
  border-style: solid;
  margin-left:70px;
  margin-right: 70px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom:10px;
  font-weight: bolder;
}

ul.copyright{
  color: black;
  font-style: italic;
  font-weight: bold;
  float:right;
  position:absolute; top:95%; left:68%;
}

#contact-form-submit{
  margin:0;
  padding-top: 10px;
}
