/*head, body,footer {
  background:linear-gradient(to bottom right, RGBa(47,47,47,0.5), RGBa(0,0,0,1));
  background-repeat:no-repeat;
}

h1{
  text-align: center;
  color: white;
}*/

.links mainheader{
  margin-left: auto;
  margin-right: auto;
}

footer {
    position:fixed;
    bottom:0;
    float:right;
}

ul.info li {
    display: inline;
    opacity: 0.5;
}

ul.info li:hover {
    opacity: 1.0;
}

.copyright {
  color:white;
  font-style: italic;
}
