/*head, body,footer {
  background:linear-gradient(to bottom right, RGBa(47,47,47,0.5), RGBa(0,0,0,1));
  background-repeat:no-repeat;
}

h1{
  text-align: center;
  color: white;
}*/

/*.photo{
  height: 80% ;
  width: 130%;
  position: relative;
}*/
/*body {
  background:("marcellmain.jpg");
  background-position: right;
  padding-top: 550px;
  padding-left: 550px;
  background-size: cover;
  background-repeat: no-repeat;
}*/

body {
background:linear-gradient(to bottom right, RGBa(25,25,25,0.75), RGBa(0,0,0,1));
  /*background-color:#454545;*/
}

ul.info{
  float:right;
  padding-right: 20px;
  padding-bottom: 0;
  padding-top: 80px;
}

#gmail, #linkedin, #instagram, #twitter, #github{
  border-radius: 25%;
}

.weblogo{
  float:left;
  padding-bottom: 0;
  padding-top: 20px;

}

.links{
  margin-left: auto;
  margin-right: auto;
  /*display:flex;*/
}

.container{
  display: flex;
}

.righthalf, .lefthalf{
  width: 50%;
  /*overflow: hidden;*/
}

.lefthalf {
  background-color: white;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.center {
  text-align: center;
  align-items: center;
  margin: auto;
}

.tile {
  border: solid black 1px;
  width: 48%;
  height: 250px;
  display: inline-block;
}

footer {
    /*position:fixed;*/
    bottom:0;
}

ul.info li {
    display: inline;
    opacity: 0.5;
}

ul.info li:hover {
    opacity: 1.0;
}
.socialmedia {
  margin:0 auto;
}

ul.copyright{
  color: white;
  font-style: italic;
  float:right;
}
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,600,700);

.dad {
    background: url("marcellmain.jpg");
    background-position: right;
    padding-top: 550px;
    padding-left: 550px;
    background-size: cover;
    background-repeat: no-repeat;
}

.grow {
  padding: 5px 5px 5px 5px;
  height: 100vh;
  width: 20vh;
  float: left;
  position: relative;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  text-align: left;
  overflow: hidden;
}
.grow:hover {
  height: 100vh;
    width: 50vh;
  text-align: left;
}

.tab-title {
    font-size: 2.5em;
	color: #fcfcfc;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
}

.vertical-tab-1 {
	background: url("macbookbw.jpg") center center no-repeat;
  opacity: 0.5;
}

.vertical-tab-2 {
	background: url("computer-programming.jpeg") center center;
  opacity: 0.5;
}

.vertical-tab-3 {
	background: url("Pile-of-resumes.jpg") center center;
  opacity: 0.5;
}

.vertical-tab-4 {
	background: url("http://wiki.morethanthemes.com/images/f/fe/Mobi-blocks-07.png") center center;
  background-size:cover;
  opacity: 0.5;
}

.rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  margin-top: 50vh;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
  color: #fff;
	font-size: 2.25em;
	text-transform: uppercase;
}

@media screen and (max-width: 970px) {
	.rotate {
		font-size: 1.5em;
	}
}


@media screen and (max-width: 970px) {
	.tab-title {
		font-size: 1.6em;
	}
}

@media screen and (max-width: 767px) {
	.rotate {
		font-size: 1.125em;
	}
}


@media screen and (max-width: 767px) {
	.tab-title {
		font-size: 1.25em;
	}
}

@media screen and (max-width: 500px) {
	.rotate {
		font-size: 0.6em;
	}
}


@media screen and (max-width: 500px) {
	.tab-title {
		font-size: 0.75em;
	}
}
