/*head, body,footer {
  background:linear-gradient(to bottom right, RGBa(47,47,47,0.5), RGBa(0,0,0,1));
  background-repeat:no-repeat;
}

h1{
  text-align: center;
  color: white;
}*/

/*.photo{
  height: 80% ;
  width: 130%;
  position: relative;
}*/
background {
  background-size: 80px 60px;
  background-repeat: no-repeat;

}

.links{
  margin-left: auto;
  margin-right: auto;
  /*display:flex;*/
}

.container{
  display: flex;
}

.righthalf, .lefthalf{
  width: 50%;
  overflow: hidden;
}

.lefthalf {
  background-color: white;
}

.center {
  text-align: center;
  align-items: center;
  margin: auto;
}

.tile {
  border: solid black 1px;
  width: 48%;
  height: 250px;
  display: inline-block;
}

footer {
    /*position:fixed;*/
    bottom:0;
    float:right;
}

ul.info li {
    display: inline;
    opacity: 0.5;
}

ul.info li:hover {
    opacity: 1.0;
}


/* footer{}
  color:white;
  font-style: italic;
}*/
